<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="<?php echo STATIC_PATH ?>/css/font.css">
    <link rel="stylesheet" href="<?php echo STATIC_PATH ?>/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo STATIC_PATH ?>/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="<?php echo STATIC_PATH ?>/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" id="formtopic">
            <input type="hidden" id="L_title" name="id" autocomplete="off" class="layui-input" value="<?php echo $msg['id']?>">
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_title" name="title" id="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"  value="<?php echo $msg['title']?>">
                </div>
            </div>
            
            <div class="layui-form-item">
                <input type="hidden" id="urllogo" name="urllogo"value="<?php echo $msg['img']?>" >
                <label class="layui-form-label">图片</label>
                <div class="layui-upload">
                  <button type="button" class="layui-btn" id="test1">上传图片</button>
                  <div class="layui-upload-list">
                    <img src="<?php echo $msg['img']?>" class="layui-upload-img" id="caseimg" style="width: 92px;height: 92px;margin: 0 10px 10px 109px;">
                  </div>
                </div>    
            </div>
            
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    <span class="x-red">*</span>推荐到首页
                </label>
                <div class="layui-input-inline">
                    <input type="radio" name="home" value="1" <?php if($msg['home']==1){ ?> checked <?php } ?> title="是">
                    <input type="radio" name="home" value="0" <?php if($msg['home']==0){ ?> checked <?php } ?> title="否">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>所属分类
                </label>
                <div class="layui-input-inline">
                    <select name="cid" lay-verify="">
                        <option>请选择分类</option>
                        <?php if(!empty($msg['categrouy'])){ ?>
                        <?php foreach($msg['categrouy'] as $key => $value0){ ?>
                        <option value="<?php echo $value0['id']; ?>" <?php if($value0['id']==$msg['cid']){ ?> selected <?php } ?>><?php echo $value0['title']; ?></option>
                        <?php } ?>
                        <?php } ?>
                    </select>
                </div>    
            </div>
            
            <div class="layui-form-item layui-form-text">
                <label for="info" class="layui-form-label">
                  简介
                </label>
                <div class="layui-input-block">
                  	<textarea id="L_info" name="desc"  class="layui-textarea"><?php echo $msg['desc']?></textarea>
                </div>
            </div>
            
            <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  内容
              </label>
              <div class="layui-input-block">
                  	<textarea id="demo" name="info" style="display: none;"><?php echo $msg['info']?></textarea>
              </div>
            </div>
            
          
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form','layer','table','layedit'], function(){
            $ = layui.jquery;
              var form = layui.form
              ,layer = layui.layer;
              var layedit = layui.layedit;
            
            var table = layui.table;    
            
            var index = layedit.build('demo'); //建立编辑器
            //监听提交
            form.on('submit(add)', function(data){
                layedit.sync(index);
                $.ajax({
                    url : '/admin/newlist/updateById',
                    type : 'post',
                    dataType : 'json',
                    //contentType :"application/json",
                    data : $("#formtopic").serialize(),
                    success : function (resouce) {
                        if(resouce.code==0){
                            layer.msg(resouce.msg, {icon: 6});
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.reload();
                        }else if(data.code=='10000') {
        					layer.msg('没有权限,请联系管理员!');
                        }else {
                            layer.msg(resouce.msg);
                        }
                    }
                });
                
                return false;
            });
        });
  </script>
<script>
    layui.use(['layedit','upload'], function(){
        var layedit = layui.layedit;
        var upload = layui.upload;
        
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/admin/newlist/uploadimg' //上传接口
            ,field: 'upload'
            
            ,done: function(res){
                //console.log(res);
                $("#urllogo").val(res.src);
                $("#caseimg").attr("src",res.src);
              //上传完毕回调
            }
            ,error: function(){
              //请求异常回调
            }
        });
        
        
        layedit.set({
            uploadImage: {
                url: '/admin/newlist/upload',
                type: 'post',
                success:function(data){
                    console.log(data);
                    if(data.code=='10000') {
    					layer.msg('没有权限上传图片!');
                    }
                }
            }
        });
        
        //layedit.getSelection(index);
        
    });
</script>
  </body>

</html>