<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="<?php echo STATIC_PATH ?>/css/font.css">
    <link rel="stylesheet" href="<?php echo STATIC_PATH ?>/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo STATIC_PATH ?>/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="<?php echo STATIC_PATH ?>/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" id="formtopic">
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    <span class="x-red">*</span>主讲人
                </label>
                <div class="layui-input-inline">
                    <select id="usercreate" name="usercreate" lay-verify="" lay-search>
                        <option selected>请选择用户</option>
                        <?php foreach($data['username'] as $key => $val){ ?>
                        <option value="<?php echo $val['userid'];?>"><?php echo $val['username']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">会议室名称</label>
                <div class="layui-input-inline">
                  <input type="text" id="groupname" name="groupname" autocomplete="off" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">会议主题</label>
                <div class="layui-input-inline">
                  <input type="text" id="grouptitle" name="grouptitle" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">会议密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password"  autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">主讲人密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="hostpass" name="hostpass" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">会议模式</label>
                <div class="layui-input-block">
                    <input type="radio" name="groupmode" value="1" title="六方会议" checked>
                    <input type="radio" name="groupmode" value="2" title="高级会议">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">会议限定人数</label>
                <div class="layui-input-inline">
                  <input type="text" id="groupnumber" name="groupnumber" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    <span class="x-red">*</span>会议类型
                </label>
                <div class="layui-input-inline">
                    <select id="grouptype" name="grouptype" lay-verify="" lay-search>
                        <option value="0">普通会议室</option>
                        <option value="1">公开会议室</option>
                        <option value="2">开放会议室</option>
                    </select>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    <span class="x-red">*</span>会议状态
                </label>
                <div class="layui-input-inline">
                    <select id="groupstatus" name="groupstatus" lay-verify="" lay-search>
                        <option value="0">关闭</option>
                        <option value="1">会议未进行</option>
                        <option value="2">会议中</option>
                        <option value="3">会议锁定</option>
                        <option value="9">待审核</option>
                    </select>
                </div>
            </div>
          
            <div class="layui-form-item">
                <label class="layui-form-label">参会人员</label>
                <div class="layui-input-inline" id="treedata">
                  
                </div>
            </div>
          
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
        </form>
    </div>
    <script>
        layui.config({
            base: '/statics/lib/'
        }).extend({
            treetable: 'treetable-lay/treetable'
        }).use(['form','layer','table','treetable','jquery'], function(){
                $ = layui.jquery;
                  var form = layui.form
                  ,layer = layui.layer;
                
                var table = layui.table;
                var treetable = layui.treetable;
                
                // 渲染表格
            var renderTable = function () {
                layer.load(2);
                treetable.render({
                    width:300,
                    treeColIndex: 1,
                    treeSpid: 0,
                    treeIdName: 'departmentid',
                    treePidName: 'parentid',
                    treeDefaultClose: false,
                    treeLinkage: false,
                    spreadable: false,
                    treeDefaultClose: true,
                    elem: '#treedata',
                    url: '/admin/Mechanism/tabPage',
                    page: false,
                    event: true,
                    cols: [[
                        {type: 'checkbox'},
                        {field: 'departmentname', title: '名称'}
                    ]],
                    done: function () {
                        layer.closeAll('loading');
                    }
                });
            };
    
            renderTable();
            
            
            //监听提交
            form.on('submit(add)', function(data){
                var checkStatus = table.checkStatus('treedata'),
        				data = checkStatus.data;
            	var listid="";
    		    for(i=0; i<data.length; i++){
    		        if(data[i].userid > 0 || data[i].userid!=undefined){
    		            listid += data[i].id+',';
    		        }
    		    }
		    
		        var meetingid=listid.substring(0,listid.length - 1);
		        
		        var usercreate,groupname,grouptitle,password,hostpass,groupstatus,groupnumber,grouptype,groupmode,meetingallid;
		        
		        usercreate=$("#usercreate").val();
		        groupname=$("#groupname").val();
		        grouptitle=$("#grouptitle").val();
		        password=$("#password").val();
		        hostpass=$("#hostpass").val();
		        groupstatus=$("#groupstatus").val();
		        groupnumber=$("#groupnumber").val();
		        grouptype=$("#grouptype").val();
		        groupmode=$('input[name="groupmode"]:checked').val();
		        meetingallid=meetingid;
		        
                $.ajax({
                    url : '/admin/meeting/addinsert',
                    type : 'post',
                    dataType : 'json',
                    //contentType :"application/json",
                    data : {"usercreate":usercreate,"groupname":groupname,"grouptitle":grouptitle,"password":password,"hostpass":hostpass,"groupstatus":groupstatus,"groupnumber":groupnumber,"grouptype":grouptype,"groupmode":groupmode,"meetingallid":meetingid},
                    success : function (resouce) {
                        if(resouce.code==0){
                            layer.msg(resouce.msg, {icon: 6});
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.reload();
                        }else if(data.code=='10000') {
        					layer.msg('没有权限,请联系管理员!');
                        }else {
                            layer.msg(resouce.msg);
                        }
                    }
                });
                
                return false;
            });
        });
  </script>

  </body>

</html>