@font-face {font-family: "iconfont";
    src: url('../fonts/alifont/iconfont.eot'); /* IE9*/
    src: url('../fonts/alifont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alifont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/alifont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.alifont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.alicon-qianbi:before { content: "\e659"; }

.alicon-xin:before { content: "\e60c"; }

.alicon-user:before { content: "\e724"; }

.alicon-html:before { content: "\e61e"; }

.alicon-wechat:before { content: "\e604"; }

.alicon-jd:before { content: "\e748"; }

.alicon-jinlingyingcaiwangtubiao72:before { content: "\e76d"; }

.alicon-jiaoyiguanli:before { content: "\e658"; }

.alicon-ex:before { content: "\e600"; }

.alicon-jiekoushezhi:before { content: "\e68d"; }

.alicon-iconfont5:before { content: "\e63a"; }

.alicon-lchuizhang-copy:before { content: "\e608"; }

.alicon-sina:before { content: "\e611"; }

.alicon-fenlel:before { content: "\e603"; }

.alicon-wodefill:before { content: "\e75d"; }

.alicon-liuchenggenzon:before { content: "\e6dc"; }

.alicon-taobao1:before { content: "\e621"; }

.alicon-shouye:before { content: "\e613"; }

.alicon-unie603:before { content: "\e623"; }

.alicon-dashuju:before { content: "\e622"; }

.alicon-meeting:before { content: "\e7c1"; }

.alicon-gongyinglian:before { content: "\e605"; }

.alicon-jiazhuangjiajuleimu:before { content: "\e6e8"; }

.alicon-hulianwang:before { content: "\e602"; }

.alicon-rongzi:before { content: "\e66c"; }

.alicon-hua:before { content: "\e628"; }

.alicon-rongzi1:before { content: "\e649"; }

.alicon-rent:before { content: "\e601"; }

.alicon-yanjing:before { content: "\e764"; }

.alicon-test:before { content: "\e61a"; }

.alicon-kickstarter:before { content: "\e751"; }

.alicon-zan:before { content: "\e885"; }

.alicon-ditudingwei:before { content: "\e8a4"; }



