<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>北京华视中天科技有限公司</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="多媒体展厅,数字化展览展示,全息投影,AR增强现实,VR虚拟现实,体感游戏,智能识别,融合技术,立体投影,传感技术"> 
<meta name="keywords" content="凡景新象九年服务于多媒体展厅，数字化展览展示，掌握多项互动技术：交互触摸屏，全息投影，AR增强现实，体感游戏，智能识别，融合技术，精准对位投影，传感技术等。">
<link rel="stylesheet" href="<?php echo HOME_CSS_PATH ?>/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo HOME_CSS_PATH ?>/style.css">
<script src="<?php echo HOME_JS_PATH ?>/jquery-1.10.2.min.js"></script>
<script src="<?php echo HOME_JS_PATH ?>/superslide.2.1.js"></script>
<script src="<?php echo HOME_JS_PATH ?>/caidan.js"></script>
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<!--[if lt IE 9]>
   <script src="<?php echo HOME_JS_PATH ?>/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body style="">
<!--#include file="header.asp"-->
<?php include APP_PATH.'/public/home/header.html' ?>

<div class="banner">
	<div class="fullSlide">
        <div class="bd">
    	    <ul style="position: relative; width: 1263px; height: 390px;">
    	        <?php if(!empty($data)){ ?>
                <?php foreach($data as $key => $value){ ?>
                <?php if(!empty($value["info"])){ ?>
                <li style="background: url(&quot;<?php echo $value['info'];?>&quot;) center center no-repeat; position: absolute; width: 1263px; left: 0px; top: 0px; display: list-item;">
                   <a href="#"></a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php } ?>
            </ul>
        </div>
        <div class="hd">
    	    <ul>
    	        <li class="on">1</li>
    	        <li class="">2</li>
    	        <li class="">3</li>
    	        <li class="">4</li>
    	        <li class="">5</li>
    	        <li class="">6</li>
    	   </ul>
        </div>
        <span class="prev" style="opacity: 0.5; display: inline;"></span>
        <span class="next" style="opacity: 0.5; display: inline;"></span>
    </div>
    
	<script type="text/javascript">
    jQuery(".fullSlide").hover(function() {
        jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
    },
    function() {
        jQuery(this).find(".prev,.next").fadeOut()
    });
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function(i) {
            var curLi = jQuery(".fullSlide .bd li").eq(i);
            if ( !! curLi.attr("_src")) {
                curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
            }
        }
    });
    
	$(function(){
		if($(window).width() > 992) {
			$('#content_frame').height($('footer').height());
		} else {
			$('#content_frame').height(369);
		}
	});
    </script> 
</div>
<div class="con">
	<div>
        <div class="MD visible-lg">
        
               <div class="tit">
                    <p class="ying"><a href="/case">cases</a></p>
                    <p class="zhong"><a href="/case">经典案例</a></p>
                </div>       
        
            <div id="scrollbar2">

                <div class="viewport">
                    <div style="left: 0px;" class="overview">
                        <?php if(!empty($data['caselist'])){ ?>
                        <?php foreach($data['caselist'] as $key => $value){ ?>
                        <?php if(!empty($value["img"])){ ?>
                        <dl>
                            <a href="/casetree/<?php echo $value['id'];?>">
                            <dt><img style="height: 122px;" src="<?php echo $value['img'];?>" class="img-responsive"></dt>
                            <dd style="width: 160px;"><div class="ddnei"><p><?php echo $value['title'];?><br>
                            <img src="<?php echo HOME_IMAGE_PATH ?>/anmore.png"></p></div></dd></a>
                        </dl>
                        <?php } ?>
                        <?php } ?>
                        <?php } ?>
                    </div>
                </div>
                <div style="width: 1263px;" class="scrollbar">
                    <div style="width: 1263px;" class="track">
                        <div style="left: 0px; width: 190px;" class="thumb"></div>
                    </div>
                </div>
            </div>
            <script src="<?php echo HOME_JS_PATH ?>/tinyscrollbar.js"></script>
            <script>
                $('#scrollbar2').tinyscrollbar({axis: 'x', sizethumb: 190});
            </script>
        </div>
    </div>
	
    <div class="news">
        <div class="container">
            <div class="tit">
                <p class="ying"><a href="/news-0.html">news</a></p>
                <p class="zhong"><a href="/news-0.html">新闻动态</a></p>
            </div>
            <!--<div class="xuantit hidden-xs">
            	<span class="cur">公司新闻</span>
            		            			<span>行业新闻</span>            			<span>新技术</span>            </div>-->
            <div class="kanei">
               	<div class="newslist ">
               		<div class="row">
                        <?php if(!empty($data['newlist'])){ ?>
                        <?php foreach($data['newlist'] as $key => $value){ ?>
                        <?php if(!empty($value["img"])){ ?>
                        <div class="xinlie col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="xinwenlist">
                                <a href="/detailed-<?php echo $value['id'];?>.html">
                                    <div class="col-lg-3 col-md-3 col-sm-3 tu hidden-xs">
                                        <img style="height: 100px;" src="<?php echo $value['img'];?>" class="img-re">
                                    </div>
                                    <dl class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <dt><?php echo $value['title'];?></dt>
                                        <dd><?php echo $value['c_time'];?></dd>
                                        <dd><?php  echo cn_substr_utf8($value['desc'],0,150); ?>...</dd>
                                    </dl>
                                 </a>
                            </div>
                        </div>
                        <?php } ?>
                        <?php } ?>
                        <?php } ?>
                    </div>
               	</div>
           	</div>        
        </div>
    </div>    
</div>
 <div class="hezuo">
    	<div class="container">
        	<div class="tit">
                <div class="zhong">合作伙伴</div>
            </div>
            <ul class="huoban">
                <?php if(!empty($data['link'])){ ?>
                <?php foreach($data['link'] as $key => $value){ ?>
                <?php if(!empty($value["img"])){ ?>
            	<li class="col-lg-2 col-lg-md-3 col-sm-4 col-xs-6">
            	    <a target="_blank" href="<?php echo $value['link']; ?>">
            	        <img src="<?php echo $value['img']; ?>" class="img-responsive" style="border:1px solid #D5D5D5">
            	    </a>
            	</li>
            	<?php } ?>
                <?php } ?>
                <?php } ?>
    	   </ul>
        </div>
    </div>
 </div>


</body>
</html>